<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="dashboardNotice" type="com.project.pms.dashboard.vo.DashboardNotice"/>
		<typeAlias alias="dashboardProject" type="com.project.pms.dashboard.vo.DashboardProject"/>
		<typeAlias alias="statusChart" type="com.project.pms.dashboard.vo.StatusChart"/>
		<typeAlias alias="project" type="com.project.pms.project.vo.Project"/>
		<typeAlias alias="myTask" type="com.project.pms.myTask.vo.MyTask"/>
		<typeAlias alias="myApproval" type="com.project.pms.myTask.vo.MyApproval"/>
		<typeAlias alias="calendar" type="com.project.pms.myTask.vo.Calendar"/>
		<typeAlias alias="rndType" type="com.project.pms.project.vo.RndType"/>
		<typeAlias alias="pm" type="com.project.pms.project.vo.Pm"/>
		<typeAlias alias="deptType" type="com.project.pms.project.vo.DeptType"/>
		<typeAlias alias="projectType" type="com.project.pms.project.vo.ProjectType"/>
		<typeAlias alias="risk" type="com.project.pms.risk.vo.Risk"/>
		<typeAlias alias="riskBoard" type="com.project.pms.risk.vo.RiskBoard"/>
        <typeAlias alias="riskDetail" type="com.project.pms.risk.vo.RiskDetail"/>
        <typeAlias alias="riskSaveRequest" type="com.project.pms.risk.vo.RiskSaveRequest"/>
        <typeAlias alias="rFileInfo" type="com.project.pms.risk.vo.RiskFileInfo"/>
		<typeAlias alias="notice" type="com.project.pms.community.vo.Notice"/>
		<typeAlias alias="noticeFile" type="com.project.pms.community.vo.NoticeFile"/>
		<typeAlias alias="emp" type="com.project.pms.emp.vo.Emp"/>
		<typeAlias alias="resource" type="com.project.pms.resource.vo.Resource"/>
		<typeAlias alias="projectMember" type="com.project.pms.resource.vo.ProjectMember"/>
		<typeAlias alias="wbsResource" type="com.project.pms.resource.vo.ResourceWbs"/>
	</typeAliases>
	
	<typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler" javaType="java.time.LocalDate"/>
    </typeHandlers>
    
	<mappers>
		<mapper resource="resource/dashboard/DashboardMapper.xml"/>
		<mapper resource="resource/myTask/MyTaskMapper.xml"/>
		<mapper resource="resource/myTask/MyApprovalMapper.xml"/>
		<mapper resource="resource/myTask/CalendarMapper.xml"/>
		<mapper resource="resource/project/ProjectMapper.xml"/>
		<mapper resource="resource/resource/ResourceMapper.xml"/>
		<mapper resource="resource/risk/RiskMapper.xml"/>
		<mapper resource="resource/emp/EmpMapper.xml"/>
	</mappers>
	
</configuration>
