<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

 <mapper namespace="com.project.pms.emp.repository.EmpDAO"> 	
 	<resultMap type="emp" id="empMap">
 		<result column="emp_id" property="empId"/>
 		<result column="dept_id" property="deptId"/>
 		<result column="auth_id" property="authId"/>		
 		<result column="pos_id" property="posId"/> 		 		
 		<result column="password" property="password"/>
 		<result column="name" property="name"/>
 		<result column="emp_email" property="empEmail"/>
 		<result column="phone" property="phone"/>
 		<result column="join_at" property="joinAt"/>
 		<result column="leave_at" property="leaveAt"/>
 		<result column="is_leave" property="isLeave"/>
 		<result column="create_at" property="createAt"/>
 		<result column="update_at" property="updateAt"/>
 	</resultMap>
 	 
	<!-- 사원추가 -->
	<insert id="saveEmp" parameterType="emp">
		INSERT INTO TBL_EMP
		(emp_id, dept_id, auth_id, pos_id, password, name, emp_email, phone, join_at, leave_at, is_leave, create_at, update_at)
		VALUES(empId_seq.NEXTVAL, #{deptId}, #{authId}, #{posId}, #{password}, #{name}, #{empEmail}, #{phone}, sysdate, null, 0, sysdate, null)
	</insert>	
	
	<!-- 직원정보조회 -->
	<select id="empInfo" resultMap="empMap">
		SELECT *
		FROM TBL_EMP
		WHERE emp_id = #{empId}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="modifyPassword" parameterType="emp">
		update TBL_EMP
		set password = #{password},
			update_at = sysdate
		where emp_id = #{empId}
	</update>	
	
	
	<update id="profileModify" parameterType="emp">
		update TBL_EMP
		set emp_email = #{empEmail},
			phone = #{phone},
			update_at = sysdate
		where emp_id = #{empId}
	</update>	
	
	
	
	
 </mapper>