<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

 <mapper namespace="com.project.pms.emp.repository.EmpDAO"> 	
 	<resultMap type="emp" id="empMap">
 		<result column="emp_id" property="empId"/>
 		<result column="dept_id" property="deptId"/>
 		<result column="dept_name" property="deptName"/>
 		<result column="auth_id" property="authId"/>
 		<result column="auth_name" property="authName"/>		
 		<result column="pos_id" property="posId"/> 		 
 		<result column="pos_name" property="posName"/>		
 		<result column="password" property="password"/>
 		<result column="name" property="name"/>
 		<result column="emp_email" property="empEmail"/>
 		<result column="phone" property="phone"/>
 		<result column="join_at" property="joinAt"/>
 		<result column="leave_at" property="leaveAt"/>
 		<result column="is_leave" property="isLeave"/>
 		<result column="create_at" property="createAt"/>
 		<result column="update_at" property="updateAt"/>
 	</resultMap>
 	
 	<!--	
 	<resultMap type="empProfile" id="empProfile">
 		<result column="emp_id" property="empId"/>
 		<result column="name" property="name"/>
		<result column="dept_id" property="deptId"/>
		<result column="dept_name" property="deptName"/>
		<result column="auth_id" property="authId"/>
		<result column="auth_name" property="authName"/>
		<result column="pos_id" property="posId"/>
		<result column="pos_name" property="posName"/>
		<result column="emp_email" property="empEmail"/>
		<result column="phone" property="phone"/>
	</resultMap>
 	
 	
 	<select id="getEmpProfile" resultMap="emp">
 		SELECT tr.EMP_ID, tr.NAME, td.DEPT_NAME, tp.POS_NAME, tr.emp_email, tr.phone
 		FROM tbl_emp tr, tbl_dept td, tbl_pos tp 
 		WHERE tr.DEPT_ID = td.DEPT_ID AND tr.POS_ID = tp.POS_ID
 	</select>
 	-->
 	 
	<!-- 사원추가 -->
	<insert id="saveEmp" parameterType="emp">
		INSERT INTO TBL_EMP
		(emp_id, dept_id, auth_id, pos_id, password, name, emp_email, phone, join_at, leave_at, is_leave, create_at, update_at)
		VALUES(to_char(sysdate,'YYMMDD') || empId_seq.nextval, #{deptId}, #{authId}, #{posId}, #{password, jdbcType=VARCHAR}, #{name}, #{empEmail}, #{phone}, sysdate, null, 0, sysdate, null)
	</insert>	
	
	<!-- 사원정보조회 -->
	<select id="empInfo" resultMap="empMap">
		SELECT te.EMP_ID, te.NAME, te.DEPT_ID, te.POS_ID, te.auth_id, te.EMP_EMAIL, te.PHONE, td.DEPT_NAME, tp.POS_NAME   
		FROM SCOTT.TBL_EMP te 
		INNER JOIN SCOTT.TBL_DEPT td 
		ON te.DEPT_ID = td.DEPT_ID
		INNER JOIN SCOTT.TBL_pos tp 
		ON te.pos_ID = tp.pos_ID
		INNER JOIN SCOTT.TBL_auth ta 
		ON te.auth_ID = ta.auth_ID
		WHERE EMP_ID = #{empId}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="modifyPassword" parameterType="emp">
		update TBL_EMP
		set password = #{password},
			update_at = sysdate
		where emp_id = #{empId}
	</update>	
	
	<!-- 프로필 수정 -->
	<update id="modifyProfile" parameterType="emp">
		update TBL_EMP
		set emp_email = #{empEmail},
			phone = #{phone},
			update_at = sysdate
		where emp_id = #{empId}
	</update>	
	
	
 </mapper>