<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="com.project.pms.myTask.repository.MyOutputDAO">
	<resultMap type="outputListForm" id="outputListMap">
		<result column="out_id" property="outputId"/>
		<result column="original_name" property="originalName"/>
		<result column="name" property="empName"/>
		<result column="cat_id" property="categoryId"/>
		<result column="project_name" property="projectName"/>
		<result column="volume" property="volume"/>
		<result column="volume_text" property="volumeText"/>
		<result column="update_at" property="updateAt"/>
	</resultMap>
	
	<resultMap type="myOutputInfo" id="myOutputInfoMap">
		<result column="original_name" property="originalName"/>
		<result column="save_name" property="saveName"/>
		<result column="category" property="category"/>
		<result column="out_type" property="outType"/>
		<result column="content" property="content"/>
		<result column="count" property="outCount"/> 
	</resultMap>
	
	<resultMap type="projectInfo" id="projectInfoMap">
		<result column="prj_id" property="projectId"/>
		<result column="name" property="projectName"/>
	</resultMap>
	
	<!-- 산출물 목록 -->
	<select id="getMyOutputList" resultMap="outputListMap" parameterType="int">
		SELECT tou.out_id, tof.original_name, tof.volume, tof.volume_text, te.name, tou.cat_id, tof.update_at, tp.name AS project_name
		FROM TBL_OUTPUT tou, 
			TBL_OUT_FILE tof, 
			TBL_EMP te, 
			TBL_TASK tt, 
			TBL_PROJECT tp 
		WHERE tou.out_id = tof.out_id AND 
				tou.emp_id = te.emp_id AND 
				tou.task_id = tt.task_id AND 
				tt.prj_id = tp.prj_id AND 
				tou.emp_id = #{empId}
		ORDER BY tou.out_id DESC
	</select>
	
	<!-- 산출물 목록 프로젝트 선택 옵션  -->
	<select id="getProjectList" resultType="project" parameterType="int">
 		SELECT DISTINCT tp.prj_id AS projectId, tp.name AS title
		FROM TBL_OUTPUT tou, 
			TBL_TASK tt, 
			TBL_PROJECT tp 
		WHERE tou.task_id = tt.task_id AND 
				tt.prj_id = tp.prj_id AND 
				tou.emp_id = #{empId}
		ORDER BY title ASC
 	</select>
	
	<!-- 산출물 정보 -->
	<select id="getMyOutputInfo" resultMap="myOutputInfoMap" parameterType="myTask">
		SELECT tof.original_name, tof.save_name, toc.category, tot.out_type, tou.content
		FROM TBL_OUTPUT tou, 
				TBL_OUT_FILE tof, 
				TBL_OUT_TYPE tot, 
				TBL_OUT_CATEGORY toc
		WHERE tou.out_id = tof.out_id AND
				tou.out_type_id = tot.out_type_id AND 	
				tou.cat_id = toc.cat_id	AND
				tou.task_id = #{taskId} AND
				tou.emp_id = #{empId}
	</select>
	
	<!-- 산출물 등록 프로젝트 선택 옵션 -->
	<select id="getOutputProject" resultMap="projectInfoMap">
		SELECT DISTINCT tp.prj_id, tp.name 
		FROM TBL_PROJECT tp,
				TBL_RESOURCE tr
		WHERE tp.prj_id = tr.prj_id AND
				tp.prj_status_id BETWEEN 1 AND 3 AND 
				tr.emp_id = #{empId}
		ORDER BY tp.name
	</select>
</mapper>