<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="com.project.pms.myTask.repository.MyTaskDAO">
	<resultMap type="myTask" id="myTaskMap">
		<result column="task_name" property="taskName"/>
		<result column="prj_name" property="title"/>
		<result column="pm_name" property="pmName"/>
		<result column="t_status" property="status"/>
		<result column="start_at" property="startAt"/>
		<result column="end_at" property="endAt"/>
		<result column="progress" property="progress"/>
	</resultMap>
		
	<!-- 작업 목록 -->
	<select id="getMyTaskList" resultMap="myTaskMap" parameterType="int">
		SELECT tt.task_name,
				tp.name AS prj_name,
				(SELECT name FROM TBL_EMP WHERE emp_id = tp.pm_id) AS pm_name,			
				tts.t_status,
				tt.start_at,
				tt.end_at,
				tt.progress
		FROM TBL_EMP te,
			TBL_RESOURCE tr,
			TBL_TASK tt,
			TBL_PROJECT tp,
			TBL_T_STATUS tts
		WHERE te.EMP_ID = tr.EMP_ID AND 
				tr.res_id = tt.res_id AND 
				tt.prj_id = tp.PRJ_ID AND
				tt.t_status_id = tts.t_status_id AND
				tt.IS_APPROVAL = 0 AND 
				te.emp_id = #{empId}
	</select>		
</mapper>