<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="com.project.pms.myTask.repository.MyTaskDAO">
	<resultMap type="myTask" id="myTaskMap">
		<result column="task_id" property="taskId"/>
		<result column="task_name" property="taskName"/>
		<result column="prj_name" property="pTitle"/>
		<result column="pm_id" property="pmId"/>
		<result column="pm_name" property="pmName"/>
		<result column="t_status" property="status"/>
		<result column="start_at" property="startAt"/>
		<result column="end_at" property="endAt"/>
		<result column="progress" property="progress"/>
		<result column="content" property="content"/>
		<result column="req_content" property="reqContent"/>
	</resultMap>
		
	<!-- 작업 목록 -->
	<select id="getMyTaskList" resultMap="myTaskMap" parameterType="int">
		SELECT tt.task_id,
				tt.task_name,
				tp.name AS prj_name,
				tp.pm_id,
				(SELECT name FROM TBL_EMP WHERE emp_id = tp.pm_id) AS pm_name,			
				tts.t_status,
				tt.start_at,
				tt.end_at,
				tt.progress
		FROM TBL_TASK tt,
				TBL_PROJECT tp,
				TBL_T_STATUS tts
		WHERE tt.prj_id = tp.prj_id AND
				tt.t_status_id = tts.t_status_id AND
				tt.is_approval = 0 AND 
				tt.approver_id = #{empId}
	</select>		
	
	<!-- 작업정보 조회 -->
	<select id="getMyTaskDetail" resultMap="myTaskMap" parameterType="int">
		SELECT  tt.task_id,
				tt.task_name,
				tp.name AS prj_name,
				tp.pm_id,
				(SELECT name FROM TBL_EMP WHERE emp_id = tp.pm_id) AS pm_name,
				tt.start_at,
				tt.end_at,
				tt.progress, 					
				tt.content
		FROM TBL_TASK tt,
			TBL_PROJECT tp
		WHERE  tt.prj_id = tp.prj_id AND
				tt.task_id = #{taskId} 
	</select>
	
	<!-- 작업정보 수정 -->
	<update id="uptMyTaskDetail" parameterType="myTask">
		UPDATE TBL_TASK
		SET progress = #{progress}, content = #{content}
		WHERE task_id = #{taskId}
	</update>
	
	<!-- 승인요청 -->
	<update id="uptApprovalRequest" parameterType="int">
		UPDATE TBL_TASK
		SET is_approval = 1
		WHERE task_id = #{taskId}
	</update>
	
	<insert id="insertApproval" parameterType="myTask">
		INSERT INTO TBL_APPROVAL(approval_id, ap_status_id, task_id, req_content, approver, create_at, update_at)
		VALUES (approval_seq.nextVal, 1, #{taskId}, #{reqContent, jdbcType=VARCHAR}, #{pmId}, sysdate, sysdate)
	</insert>
</mapper>