<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

 <mapper namespace="com.project.pms.risk.repository.RiskDAO">
    	
 	<resultMap type="risk" id="riskListMap">
 		<result column="risk_id" property="riskId"/>
 		<result column="r_status_id" property="rStatusId"/>
 		<result column="r_status" property="rStatus"/>
 		<result column="r_type_id" property="rTypeId"/>
 		<result column="r_type_name" property="rType"/>
 		<result column="emp_id" property="empId"/>
 		<result column="presenter" property="presenter"/>
 		<result column="prj_id" property="prjId"/>
 		<result column="t_name" property="tName"/>
 		<result column="title" property="title"/>
 		<result column="r_content" property="rContent"/>
 		<result column="activator" property="activator"/>
 		<result column="a_content" property="aContent"/>
 		<result column="due_at" property="dueAt"/>
 		<result column="com_at" property="comAt"/>
 		<result column="create_at" property="createAt"/>
 		<result column="update_at" property="updateAt"/>
 	</resultMap>
 	
 	
 	 <!-- 리스크 목록 -->
 	 <select id="getRiskList" resultType="riskBoard">
		SELECT tr.RISK_ID as riskId ,
			tr.TITLE as title ,
			trt.R_TYPE_NAME as rType ,
			tp.NAME AS pName,
			tr.PRESENTER as presenter,
			tr.ACTIVATOR as activator ,
			tr.DUE_AT as dueAt ,
			tr.COM_AT as comAt 
		FROM SCOTT.TBL_RISK tr
			INNER JOIN SCOTT.TBL_R_STATUS trs on tr.R_STATUS_ID = trs.R_STATUS_ID
			INNER JOIN SCOTT.TBL_R_TYPE trt ON tr.R_TYPE_ID = trt.R_TYPE_ID 
			INNER JOIN SCOTT.TBL_PROJECT tp ON tr.PRJ_ID = tp.PRJ_ID 
		ORDER BY tr.RISK_ID DESC
 	 </select>
 	
 	<!-- 리스크 상세 -->
 	<select id="getRiskDetail" resultType="riskDetail" parameterType="int">
		SELECT tr.RISK_ID AS riskId,
			tr.TITLE AS title,
			trt.R_TYPE_NAME AS rType,
			tp.NAME AS pName,
			tr.T_NAME AS tName,
			tr.R_CONTENT AS rContent,
			tr.ACTIVATOR AS activator ,
			tr.DUE_AT AS dueAt,
			tr.A_CONTENT AS aContent, 
			trs.R_STATUS AS rStatus 
		FROM SCOTT.TBL_RISK tr
			INNER JOIN SCOTT.TBL_R_STATUS trs on tr.R_STATUS_ID = trs.R_STATUS_ID
			INNER JOIN SCOTT.TBL_R_TYPE trt ON tr.R_TYPE_ID = trt.R_TYPE_ID
			INNER JOIN SCOTT.TBL_PROJECT tp ON tr.PRJ_ID = tp.PRJ_ID 
		WHERE tr.RISK_ID = #{riskId}
 	</select>
 	
 	<!-- 리스크 등록 -->
 	<insert id="createRisk" parameterType="riskSaveRequest">
 	INSERT INTO SCOTT.TBL_RISK(
		RISK_ID,
		TITLE,
		R_TYPE_ID,
		PRJ_ID,
		R_STATUS_ID,
		EMP_ID ,
		T_NAME,
		R_CONTENT,
		PRESENTER,
		ACTIVATOR,
		A_CONTENT,
		DUE_AT,
		CREATE_AT ,
		UPDATE_AT 
	)
	VALUES
	(
	RISK_SEQ.NEXTVAL,
	#{title},
	#{rTypeId},
	#{prjId},
	#{rStatusId},
	#{empId},
	#{tName},
	#{rContent},
	#{empName},
	#{activator},
	#{aContent},
	TO_DATE(#{dueAt}, 'YYYY-MM-DD'),
	sysdate,
	sysdate
	)
 	</insert>
 	
 	<!-- 사원정보 -->
 	<select id="getEmpList" resultType="emp">
 		SELECT emp_id, name 
 		FROM SCOTT.TBL_EMP
 		ORDER BY EMP_ID
 	</select>
 	
 	<!-- 프로젝트 정보 -->
 	<select id="getProjectList" resultType="project">
 		SELECT PRJ_ID as projectId, NAME as title
 		FROM SCOTT.TBL_PROJECT
 		ORDER BY PRJ_ID
 	</select>
 	
 	<!-- 작업 정보 -->
 	<select id="getMyTaskList" resultType="myTask">
 		SELECT TASK_NAME AS taskName
 		FROM SCOTT.TBL_TASK
 		ORDER BY TASK_ID
 	</select>
 	
 	<!-- 리스크 삭제 -->
 	<delete id="deleteRisk">
 		DELETE FROM SCOTT.TBL_RISK
 		WHERE RISK_ID = #{riskId}
 	</delete>
 	
 </mapper> 