<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="com.project.pms.dashboard.repository.DashboardDAO">
	<resultMap type="dashboardnotice" id="dashboardNoticeMap">
		<result column="no_id" property="noticeId"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="create_at" property="createAt"/>
	</resultMap>
	
	<resultMap type="dashboardProject" id="dashboardProjectMap">
		<result column="prj_id" property="projectId"/>
		<result column="prj_name" property="title"/>
		<result column="dept_id" property="pmDeptId"/>
		<result column="dept_name" property="pmDeptName"/>
		<result column="pm_name" property="pmName"/>
		<result column="prj_status_id" property="statusId"/>
		<result column="prj_status" property="status"/>
		<result column="start_at" property="startAt"/>
		<result column="end_at" property="endAt"/>
	</resultMap>
	
	<resultMap type="statusChart" id="statusChartMap">
		<result column="status_id" property="statusId"/>
		<result column="status" property="status"/>
		<result column="count" property="count"/>
	</resultMap>
	
	<!-- *** 종합 대시보드 *** -->
	<!-- 공지사항: 최근 등록 공지사항 5개 조회 --> 
	<select id="getNoticeList" resultMap="dashboardNoticeMap">
		SELECT no_id, title, writer, create_at
		FROM TBL_NOTICE
		WHERE <![CDATA[rownum<=5]]>
		ORDER BY create_at DESC
	</select>
	
	<!-- 부서 선택 옵션 리스트 -->
	<select id="getDeptList" resultMap="dashboardProjectMap">
		SELECT dept_id, dept_name
		FROM TBl_DEPT
		ORDER BY dept_id
	</select>
	
	<!-- 상태 선택 옵션 리스트 -->
	<select id="getStatusList" resultMap="dashboardProjectMap">
		SELECT prj_status_id, prj_status
		FROM TBL_PRJ_STATUS
		ORDER BY prj_status_id
	</select>
	
	<!-- 프로젝트 현황: 최근 등록 프로젝트 10개 조회 -->
	<select id="getProjectList" resultMap="dashboardProjectMap">
		SELECT tp.prj_id,
			tp.name AS prj_name,
			(SELECT dept_name FROM TBL_EMP te, TBL_DEPT td WHERE te.dept_id = td.dept_id AND te.emp_id = tp.pm_id) AS dept_name,
			(SELECT name FROM TBL_EMP te WHERE te.emp_id = tp.pm_id) AS pm_name,
			tps.prj_status, 
			tp.start_at, 
			tp.end_at
		FROM TBL_PROJECT tp,
			TBL_PRJ_STATUS tps 
		WHERE tp.prj_status_id = tps.prj_status_id AND
				<![CDATA[rownum<=10]]>
		ORDER BY tp.create_at DESC
	</select>
	
	<!-- 부서별 프로젝트 현황 -->
	<select id="getProjectChart1" resultMap="statusChartMap">
		SELECT td.dept_id AS status_id, dept_name AS status, nvl(count, 0) AS count
		FROM (SELECT dept_id, count(*) AS count
				FROM TBL_PROJECT tp, TBL_EMP te
				WHERE tp.pm_id = te.emp_id AND prj_status_id = 1
				GROUP BY dept_id) tpte RIGHT JOIN TBL_DEPT td 
		ON tpte.dept_id = td.dept_id
		ORDER BY status_id
	</select>
		
	<select id="getProjectChart2" resultMap="statusChartMap">
		SELECT td.dept_id AS status_id, dept_name AS status, nvl(count, 0) AS count
		FROM (SELECT dept_id, count(*) AS count
				FROM TBL_PROJECT tp, TBL_EMP te
				WHERE tp.pm_id = te.emp_id AND prj_status_id = 2
				GROUP BY dept_id) tpte RIGHT JOIN TBL_DEPT td 
		ON tpte.dept_id = td.dept_id
		ORDER BY status_id
	</select>
		
	<select id="getProjectChart3" resultMap="statusChartMap">
		SELECT td.dept_id AS status_id, dept_name AS status, nvl(count, 0) AS count
		FROM (SELECT dept_id, count(*) AS count
				FROM TBL_PROJECT tp, TBL_EMP te
				WHERE tp.pm_id = te.emp_id AND prj_status_id = 3
				GROUP BY dept_id) tpte RIGHT JOIN TBL_DEPT td 
		ON tpte.dept_id = td.dept_id
		ORDER BY status_id
	</select>
	
	<select id="getProjectChart4" resultMap="statusChartMap">
		SELECT td.dept_id AS status_id, dept_name AS status, nvl(count, 0) AS count
		FROM (SELECT dept_id, count(*) AS count
				FROM TBL_PROJECT tp, TBL_EMP te
				WHERE tp.pm_id = te.emp_id AND prj_status_id = 4
				GROUP BY dept_id) tpte RIGHT JOIN TBL_DEPT td 
		ON tpte.dept_id = td.dept_id
		ORDER BY status_id
	</select>
	
	<select id="getProjectChart5" resultMap="statusChartMap">
		SELECT td.dept_id AS status_id, dept_name AS status, nvl(count, 0) AS count
		FROM (SELECT dept_id, count(*) AS count
				FROM TBL_PROJECT tp, TBL_EMP te
				WHERE tp.pm_id = te.emp_id AND prj_status_id = 5
				GROUP BY dept_id) tpte RIGHT JOIN TBL_DEPT td 
		ON tpte.dept_id = td.dept_id
		ORDER BY status_id
	</select>
	
	<!-- 리스크 현황: 상태별 -->
	<select id="getRiskStatusChart1" resultMap="statusChartMap">
		SELECT trs.r_status_id AS status_id, r_status AS status, nvl(count, 0) AS count
		FROM (SELECT r_status_id, count(*) AS count
				FROM tbl_risk
				GROUP BY r_status_id) tr RIGHT JOIN TBL_R_STATUS trs 
		ON tr.r_status_id = trs.r_status_id 
		ORDER BY status_id
	</select>
	
	<!-- 리스크 현황: 유형별 -->
	<select id="getRiskStatusChart2" resultMap="statusChartMap">
		SELECT trt.r_type_id AS status_id, r_type_name AS status, nvl(count, 0) AS count
		FROM (SELECT r_type_id, count(*) AS count
				FROM tbl_risk
				GROUP BY r_type_id) tr RIGHT JOIN TBL_R_TYPE trt 
		ON tr.r_type_id = trt.r_type_id 
		ORDER BY status_id
	</select>
		
	<!-- *** 개인 대시보드 *** -->
	<!-- 참여 프로젝트 -->
	<select id="getMyProjectList" resultMap="dashboardProjectMap" parameterType="int">
		SELECT tp.prj_id,
			tp.name AS prj_name,
			(SELECT dept_name FROM TBL_EMP te, TBL_DEPT td WHERE te.dept_id = td.dept_id AND te.emp_id = tp.pm_id) AS dept_name,
			(SELECT name FROM TBL_EMP te WHERE te.emp_id = tp.pm_id) AS pm_name,
			tps.prj_status, 
			tp.start_at, 
			tp.end_at
		FROM TBL_PROJECT tp,
			TBL_PRJ_STATUS tps 
		WHERE tp.prj_status_id = tps.prj_status_id AND 
				tp.prj_id IN (SELECT tr.prj_id FROM tbl_emp te, tbl_resource tr WHERE te.emp_id = tr.emp_id AND tr.emp_id = #{empId}) AND
				<![CDATA[rownum<=10]]>
		ORDER BY tp.create_at DESC
	</select>
	
	<!-- 작업 진행상태 -->
	<select id="getMyTaskStatusChart" resultMap="statusChartMap" parameterType="int">		
		SELECT tts.t_status_id AS status_id, tts.t_status AS status, nvl(count, 0) AS count
		FROM (SELECT t_status_id, count(*) AS count
				FROM (SELECT tt.t_status_id
					FROM TBL_TASK tt
					WHERE tt.manager_id = #{empId} AND tt.is_approval = 0) 
				GROUP BY t_status_id) trtt RIGHT JOIN TBL_T_STATUS tts
		ON trtt.t_status_id = tts.t_status_id
		ORDER BY status_id 
	</select>
	
	<!-- 리스크 현황: 상태별 -->
	<select id="getMyRiskStatusChart1" resultMap="statusChartMap" parameterType="int">
		SELECT trs.r_status_id AS status_id, trs.r_status AS status, nvl(count, 0) AS count
		FROM (SELECT r_status_id, count(*) AS count
				FROM (SELECT tr.prj_id
						FROM TBL_RESOURCE tr 
						WHERE emp_id = #{empId}) tr, tbl_risk tr2
				WHERE tr.prj_id = tr2.prj_id
				GROUP BY r_status_id) trtr2 RIGHT JOIN TBL_R_STATUS trs
		ON trtr2.r_status_id = trs.r_status_id
		ORDER BY status_id
	</select>
	
	<!-- 리스크 현황: 유형별 -->
	<select id="getMyRiskStatusChart2" resultMap="statusChartMap" parameterType="int">
		SELECT trt.r_type_id AS status_id, trt.r_type_name AS status, nvl(count, 0) AS count
		FROM (SELECT r_type_id, count(*) AS count
				FROM (SELECT tr.prj_id
						FROM TBL_RESOURCE tr 
						WHERE emp_id = #{empId}) tr, tbl_risk tr2
				WHERE tr.prj_id = tr2.prj_id
				GROUP BY r_type_id) trtr2 RIGHT JOIN TBL_R_TYPE trt
		ON trtr2.r_type_id = trt.r_type_id
		ORDER BY status_id
	</select>
	
</mapper>