<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.pms.project.repository.ProjectDAO">
	<resultMap type="project" id="projectMap">
		<result column="prj_id" property="projectId"/>
		<result column="prj_status_id" property="statusId"/>
		<result column="prj_type_id" property="typeId"/>
		<result column="rd_type_id" property="rndTypeId"/>
		<result column="name" property="title"/>
		<result column="content" property="content"/>
		<result column="pm_id" property="pmId"/>
		<result column="start_at" property="startAt"/>
		<result column="end_at" property="endAt"/>
		<result column="create_at" property="createdAt"/>
		<result column="update_at" property="updatedAt"/>
		<result column="pmo_id" property="pmoId"/>
	</resultMap>
	
	<resultMap type="rndType" id="rndTypeMap">
		<result column="rd_type_id" property="rndId"/>
		<result column="rd_type" property="rndType"/>
	</resultMap>
	
	<resultMap type="projectType" id="projectTypeMap">
		<result column="prj_type_id" property="projectTypeId"/>
		<result column="prj_type" property="projectType"/>
	</resultMap>
	
	<resultMap type="pm" id="pmListMap">
		<result column="emp_id" property="pmId"/>
		<result column="dept_id" property="deptId"/>
		<result column="name" property="pmName"/>
		<result column="auth_id" property="authId"/>
	</resultMap>
	
	<resultMap type="deptType" id="deptTypeMap">
		<result column="dept_id" property="deptId"/>
		<result column="dept_name" property="deptName"/>
	</resultMap>
	
	<resultMap type="task" id="taskMap">
		<result column="task_id" property="id"/>
		<result column="prj_id" property="projectId"/>
		<result column="approver_id" property="approver"/>
		<result column="manager_id" property="manager"/>
		<result column="t_status_id" property="statusId"/>
		<result column="content" property="description"/>
		<result column="task_name" property="text"/>
		<result column="start_at" property="start_date"/>
		<result column="end_at" property="end_date"/>
		<result column="progress" property="progress"/>
		<result column="sortorder" property="sortorder"/>
		<result column="parent" property="parent"/>
	</resultMap>
	
	<resultMap type="link" id="linkMap">
		<result column="link_id" property="id"/>
		<result column="link_target" property="target"/>
		<result column="link_source" property="source"/>
		<result column="link_type" property="type"/>
		<result column="project_id" property="projectId"/>
	</resultMap>
	
	<resultMap type="projectStatus" id="projectStatusMap">
		<result column="prj_status_id" property="statusId"/>
		<result column="prj_status" property="status"/>
	</resultMap>
	
	<select id="getList" resultMap="projectMap">
		SELECT *
		FROM TBL_PROJECT
		ORDER BY PRJ_ID DESC
	</select>
	
	<insert id="insertProject" parameterType="project" >
		INSERT INTO TBL_PROJECT(prj_status_id, prj_type_id, rd_type_id, name, content, pm_id, start_at, end_at, create_at, update_at, pmo_id)
		VALUES (#{statusId}, #{typeId}, #{rndTypeId}, #{title}, #{content}, #{pmId}, #{startAt}, #{endAt}, sysdate, sysdate, #{pmoId})
	</insert>
	
	<select id="getProjectByProjectId" resultMap="projectMap" parameterType="string">
		SELECT *
		FROM TBL_PROJECT
		WHERE prj_id = #{id}
	</select>
	
	<select id="getRndType" resultMap="rndTypeMap">
		SELECT *
		FROM TBL_RND_TYPE
		ORDER BY rd_type_id asc
	</select>
	
	<select id="getProjectType" resultMap="projectTypeMap">
		SELECT *
		FROM TBL_PRJ_TYPE
		ORDER BY prj_type_id asc
	</select>
	
	<select id="getDeptType" resultMap="deptTypeMap">
		SELECT *
		FROM TBL_DEPT
	</select>
	
	<select id="getPmByDeptId" resultMap="pmListMap" parameterType="int">
		SELECT emp_id, dept_id, name
		FROM TBL_EMP
		WHERE dept_Id = #{deptId}
	</select>
	
	<select id="getPmoByDeptId" resultMap="pmListMap" parameterType="int">
		SELECT emp_id, dept_id, name
		FROM TBL_EMP
		WHERE dept_Id = #{deptId}
	</select>
	
	<select id="getPmByProjectId" resultMap="pmListMap" parameterType="string">
		SELECT te.emp_id, te.DEPT_ID, te.NAME
		FROM TBL_PROJECT tp, TBL_EMP te
		WHERE tp.PRJ_ID = #{projectId} AND tp.PM_ID = te.EMP_ID
	</select>
	
	<select id="getPmoByProjectId" resultMap="pmListMap" parameterType="string">
		SELECT te.EMP_ID, te.DEPT_ID, te.NAME
		FROM TBL_PROJECT tp, TBL_EMP te 
		WHERE tp.PRJ_ID = #{projectId} AND tp.PMO_ID = te.EMP_ID
	</select>
	
	<select id="getProjectStatus" resultMap="projectStatusMap">
		SELECT *
		FROM TBL_PRJ_STATUS
	</select>
	
	<select id="getProjectMaxId" resultType="string">
		SELECT MAX(tp.PRJ_ID)
		FROM TBL_PROJECT tp
	</select>
	
	<update id="modifyProject" parameterType="project">
		UPDATE TBL_PROJECT 
		SET PRJ_STATUS_ID = #{statusId},
		 	PRJ_TYPE_ID = #{typeId},
		  	RD_TYPE_ID = #{rndTypeId},
		   	NAME = #{title},
		    CONTENT = #{content},
		    PM_ID = #{pmId},
		    START_AT = #{startAt},
		    END_AT = #{endAt},
		    UPDATE_AT = sysdate,
		    PMO_ID = #{pmoId}
		WHERE PRJ_ID = #{projectId}
	</update>
	
	<select id="getTasks" resultMap="taskMap" parameterType="string">
		SELECT *
		FROM TBL_TASK
		WHERE prj_id = #{projectId}
		ORDER BY task_id asc
	</select>
	
	<select id="getTaskMaxId" resultType="int">
		SELECT MAX(task_id)
		FROM TBL_TASK
	</select>
	
	<insert id="saveTask" parameterType="task">
		INSERT INTO TBL_TASK(task_id, prj_id, approver_id, manager_id, t_status_id, content, task_name, start_at, end_at, progress, sortorder, parent, is_approval)
		VALUES(task_seq.nextval, #{projectId}, #{approver}, #{manager}, 1, #{description}, #{text}, TO_DATE(#{start_date}, 'yyyy-MM-dd'), TO_DATE(#{end_date}, 'yyyy-MM-dd'), #{progress}, 0, #{parent}, 0)
	</insert>
	
	<update id="updateTask" parameterType="task">
		UPDATE TBL_TASK 
		SET approver_id = #{approver},
			manager_id = #{manager},
			content = #{description},
			task_name = #{text},
			start_at = TO_DATE(#{start_date}, 'yyyy-MM-dd'),
			end_at = TO_DATE(#{end_date}, 'yyyy-MM-dd'),
			progress = #{progress},
			parent = #{parent}
		WHERE task_id = #{id}
	</update>
	
	<delete id="deleteTask" parameterType="int">
		DELETE 
		FROM TBL_TASK
		WHERE task_id = #{taskId}
	</delete>
	
	<select id="getLinks" resultMap="linkMap" parameterType="string">
		SELECT *
		FROM TBL_LINK
		WHERE project_id = #{projectId}
		ORDER BY link_id asc
	</select>
	
	<insert id="saveLink" parameterType="link">
		INSERT INTO TBL_LINK(link_id, link_target, link_source, link_type, project_id)
		VALUES(link_seq.nextval, #{target}, #{source}, #{type}, #{projectId})
	</insert>
	
	<delete id="deleteLink" parameterType="int">
		DELETE 
		FROM TBL_LINK
		WHERE link_id = #{linkId}
	</delete>
	
	<select id="getLinkMaxId" resultType="int">
		SELECT MAX(link_id)
		FROM TBL_LINK
	</select>
</mapper>